# Node.js dependencies
node_modules/
package-lock.json

# Environment Variables
.env
venv

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/build
/dist

# OS & Editor-Specific Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*.swn

# Coverage & Miscellaneous
coverage/
